<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>NuevaEmpresaServlet</display-name>
    <servlet-name>NuevaEmpresaServlet</servlet-name>
    <servlet-class>ar.com.camd.gerenciador.servlet.NuevaEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaEmpresaServlet</servlet-name>
    <url-pattern>/nuevaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaEmpresas</display-name>
    <servlet-name>ListaEmpresasServlet</servlet-name>
    <servlet-class>ar.com.camd.gerenciador.servlet.ListaEmpresasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEmpresasServlet</servlet-name>
    <url-pattern>/listaEmpresas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet encargado de las solicitudes de eliminación de empresas.</description>
    <display-name>EliminarEmpresa</display-name>
    <servlet-name>EliminarEmpresa</servlet-name>
    <servlet-class>ar.com.camd.gerenciador.servlet.EliminarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarEmpresa</servlet-name>
    <url-pattern>/eliminarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet encargado de las solicitudes de modicación de empresas.</description>
    <display-name>modificarEmpresa</display-name>
    <servlet-name>modificarEmpresa</servlet-name>
    <servlet-class>ar.com.camd.gerenciador.servlet.ModificarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarEmpresa</servlet-name>
    <url-pattern>/modificarEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet encargado de las solicitudes de mostrar los datos de una empresa.</description>
    <display-name>MostrarEmpresaServlet</display-name>
    <servlet-name>MostrarEmpresaServlet</servlet-name>
    <servlet-class>ar.com.camd.gerenciador.servlet.MostrarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarEmpresaServlet</servlet-name>
    <url-pattern>/mostrarEmpresa</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MF</filter-name>
    <filter-class>ar.com.camd.gerenciador.servlet.MonitoreoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MF</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AF</filter-name>
    <filter-class>ar.com.camd.gerenciador.servlet.AutorizacionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AF</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CF</filter-name>
    <filter-class>ar.com.camd.gerenciador.servlet.ControladorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CF</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
</web-app>